body{
    font-size: 18px;
    color: #ffffff;
}

header{
    background-color: #263238;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
header div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

h3{
    font-size: 20px;
    padding: 0px 0px 0px 10px;
}
.Logo img{
    width: 4vw;
    padding: 10px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    margin: 0px 10px;
}

nav a{
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    padding: 0px 35px;
}
nav a:hover{
    color: #d50000;
    border-bottom: 1px dashed #d50000;
}

.Banner img{
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
}

footer{
    color: #ffffff;
    background-color: #263238;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer img{
    width: 50px;
    height: 50px;
    justify-content: left;
    padding: 10px 0px;
}